---
layout: page2
title: Vlad Petyuk
subtitle: biochemisty / proteomics / recreational math
css: "/css/index.css"
meta-title: "Vlad Petyuk"
meta-description: "scientist"
bigimg:
  - "/img/big-imgs/fujioka_sensitivity.png" : "sensisitivy analysis of EGFR model"
  - "/img/big-imgs/cell_contributions4.png" : "cell composition changes associated with Lewy bodies"
  - "/img/big-imgs/match1_graph-1.png" : "patient matching with bipartate graph"
  - "/img/big-imgs/some_sort_of_SN_gsea.png" : "GSEA example"
  - "/img/big-imgs/CSF_heatmap.png" : "biomarker panel in CSF"
  - "/img/big-imgs/cptact_topdown_paired_correlations.png" : "example paired correlations"
  - "/img/big-imgs/reactome_clusterprofiler.png" : "ontology enrichment example"
  - "/img/big-imgs/cptac_subtype_heatmap.png" : "heatmap example"
  - "/img/big-imgs/lotka_volterra_trajectory.png" : "viz of Lotka-Volterra"
  - "/img/big-imgs/control_conc.png" : "96 well plate"
---



<!--
<div class="main-explain-area jumbotron">
  <p>Your website is ready!</p>
  <p>After editing the <code>_config.yml</code> file to personalize your site's settings, you can start writing blog posts or pages.<p>
  <p>Below are sample posts for illustration purposes.</p>
</div>
-->

<!--
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>
-->

<!--
{% if paginator.total_pages > 1 %}
-->

<!--
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
-->

